---
name: success
url: /success
controller: SuccessController
---
<div class="iu-view-container iu-transparent">
    <div class="iu-view-header">
        <a class="iu-btn-close" hm-tap="close">x</a>
        <span class="iu-font-btn" style="margin-left:0;color:#000">
            发布成功
        </span>
    </div>
    <div class="ac-success-panel">
        <div class="ac-success-smile"></div>
        <div class="ac-success-text">
            <span style="font-size:1rem">发布成功</span>
            <br/>
            <span style="font-size:0.6rem">你发布的信息会帮助更多人</span>
        </div>
        <div class="ac-success-footer">
            <a class="iu-btn-extend" hm-tap="close">知道了</a>
        </div>
    </div>
</div>

