<div class="iu-menu-container" id="iu-menu-container">
    <div class="iu-menu-content" hm-panmove="onSwipe" hm-panend="onSwipeEnd" 
     hm-manager-options='{"stopPropagation": true,"preventGhosts": true}'>
        <div class="iu-menu-header">
            <a class="iu-btn-profile-big" style="background-image:url('./img/profile.png');margin-top: 1rem"></a>
            <!--<iu-profile></iu-profile>-->
        </div>
        <ul class="iu-list-ordinary">
            <li><a class="iu-btn-extend iu-borderless" hm-tap="onPublishTap">发布途说</a></li>
            <li><a class="iu-btn-extend iu-borderless" hm-tap="onMyMsg">我的消息</a></li>
            <li><a class="iu-btn-extend iu-borderless" hm-tap="onMyInsuranceTap">我的保障</a></li>
        </ul>
    </div>
    <div ui-sref="home" class="iu-menu-shade"></div>
</div>
