$white: #fff;
$grey: #d3d3d3;
$darkgray: #575757;
$color-primary: #FFD200; //青色

$layer-first: 100;
$layer-second: 101;
$layer-third: 102;
$layer-forth: 103;

$height-screen: 33.25rem;
$height-list-short: 2.5rem;
$height-list-middle: 4.5rem;
$height-list-tall: 7.3rem;
$height-button-primary: 2.2rem;
$height-button-img-small: 1.5rem;
$height-button-img-middle: 2.75rem;
$height-button-img-big: 6rem;
$height-input-primary: 2.2rem;
$height-textarea: 6rem;
$height-carousel: 5.5rem;
$height-header: 2.2rem;

$width-button-img-small: 1.5rem;
$width-button-img-middle: 2.75rem;
$width-button-img-big: 6rem;
$width-border: 0.05rem;
$width-button-long: 14.5rem;
$width-button-short: 7.25rem; 
$width-input-short: 5.75rem;
$width-input-long: 14.5rem;
$width-split-line-thin: 0.05rem;
$width-split-line-thick: 0.09rem;
